<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login LOS</title>
        <link th:href="@{/style.css}" rel="stylesheet">
    </head>
    <body>
        <div class="login-container">

            <div class="login-card">
                
                <h2>Login - Loan Origination System</h2>
                
                <div class="alert-error" role="alert" th:if="${param.error}">
                    Invalid Credentials!
                </div>
                

                <div class="alert-success" role="alert" th:if="${param.logout}" style="color: green; font-weight: bold; margin-bottom: 10px;">
                    Anda berhasil keluar!
                </div>
        
        
                <form th:action="@{/login}" method="POST">
                <div class="form-group">
                    <label for="udomain">Udomain:</label>
                    <input type="text" id="username" name="username" placeholder="Enter Udomain..." required>
                </div>
                <br>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter Password..." required>
                </div>
                <br>
                <button type="submit" class="btn-login">Login</button>
                </form>
            </div>
        </div>
    </body>
</html>